In [1]:
import pandas as pd

In [3]:
two_dimensional_list=[['asdf',23,42],['fads',14,89],['poui',53,26]]

In [9]:
my_df=pd.DataFrame(two_dimensional_list, columns=['name','score1','score2'],index=['a','b','c',])
my_df

   name  score1  score2
a  asdf      23      42
b  fads      14      89
c  poui      53      26

In [6]:
type(my_df)

pandas.core.frame.DataFrame

In [10]:
my_df.columns

Index(['name', 'score1', 'score2'], dtype='object')

In [11]:
my_df.index

Index(['a', 'b', 'c'], dtype='object')

In [12]:
my_df.dtypes

name      object
score1     int64
score2     int64
dtype: object